/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Pacifico&family=Poppins:wght@300;400;700&display=swap');

/*===== Global =====*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}

/* navbar */
.navbar{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	color: whitesmoke;
}
/* end navbar */
header{
	width: 100vw;
	height: 100vh;
	background-image: url('./images/skiing-through-the-remote-sarek-region.jpg');
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.header-content{
	margin-bottom: 150px;
	color: whitesmoke;
	text-align: center;
}
.header-content h2{
	font-size: 4vmin;
}
.line{
	width: 150px;
	height: 4px;
	background: #fc036b;
	margin: 10px auto;
	border-radius: 5px;
}
.header-content h1{
	font-size: 7vmin;
	margin-top: 50px;
	margin-bottom: 30px;
}
.ctn{
	padding: 8px 15px;
	background: #fc036b;
	border-radius: 30px;
	color: whitesmoke;
}